[Desktop Entry]
Version=1.0
Name=URL Opener
Exec=/usr/local/bin/openurl.sh %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=GTK;Network;
MimeType=application/x-openurl